<html>
    <head>
        <title>{{ title }} - Microblog</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style>
			body {
				margin: 0px;
				background-color: #FFFFFF;
				overflow: hidden;
			}
		</style>
        <script src="/static/three.js"></script>
    </head>
    <body>
        <h1>Hi {{ user.username }}!</h1>
        <h3>Dein Wurf bringt: {{ dice_result.dice }} Punkte.</h3>
        <h3>Du landest auf Feld: {{ field_result.go_to_field }}.</h3>
        
        
        <script src="/static/fields5.js"></script>
    </body>
</html>

